*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: #000;
}

.header{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: end;
    background: #4c515294;
    border-radius: 10px;
}

.container{
    width: 86%;
    height: min-content;
    background-color: rgb(156 171 170);
    border-radius: 12px;
    padding: 24px;
    margin-top: 7vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 51px white;
}

.search-box{
    width: 30%;
    position: relative;
    right: 0px;
}

.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: #cbc4c4;
    padding: 12px 16px;
    border-radius: 14px;
}

.search-box input::placeholder{
    color: #000;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search-box button:hover{
    color: #fff;
    background-color: #ababab;
}

.weather-body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
    /* display: none; */
}

.mini-container{
    width: 100%;
    text-align: center;
}

.weather-body img{
    width: 15%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 10px;
}

.wind{
    margin-right: 20px;
}

.weather-details{
    display: flex;
    flex-wrap: wrap;
    
}

.weather-details div{
    margin: 10px;
    max-width: 39%;
}

.weather-details i{
    font-size: 33px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found{
   display: none;
}
/* 404 not found */
*{
    transition: all 0.6s;
}

#main{
    display: table;
    width: 100%;
    height: 50vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 300px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}
/* ------------------------------------------------------- */


.location-not-found h1{
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 80%;
}

@media screen and (max-width: 500px) {
    .search-box{
        width: 100%;
    }
    .weather-body img{
        width: 50%;
    }
}